<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Group 2 final project</title>
    <link rel="stylesheet" href="./app.css">
    <script src="./formcheck.js"></script>
</head>

<body>

{{!-- need to update nav bar logic. placeholders only --}}

    <div class="navBar flex-row align-center justify-sa">
        {{#if user.username}}
        <h2>{{user.username}}</h2>
        <p></p>
        <a href="./logout">Logout</a>
        {{else}}
        <h2></h2>
        <p>{{authorised}}</p>
        <a href="./login">Login</a>
        {{/if}}
    </div>
    {{{body}}}
</body>

</html>