<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Exercise One</title>
    <link rel="stylesheet" href="./css/sort.css">
</head>

<div class="article-container">
    <div class="dropdown">
        <button class="sort">Sort By</button>
    <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    </div>
    </div>
</div>

    {{#if user}}
        {{#each userArticle}}
        <div>
            <h3>{{title}}</h3>
            <p>{{content}}</p>
        </div>
    {{/if}}
</div>

