<!DOCTYPE html>
    <link rel="stylesheet" href="./css/sort.css">
    <script type="text/javascript" src="/judge.js"></script>

<div class="article-container">
    <div class="dropdown">
        <button class="sort">Sort By</button>
    <div class="dropdown-content">
    <a href="#">Title</a>
    <a href="#">Name</a>
    <a href="#">Date</a>
    </div>
    </div>
</div>

    {{#if user}}       
        <div>
            {{#each userArticle}}
            <h3>{{title}}</h3>
            <p>{{content}}</p>
            {{/each}}
        </div>
    {{/if}}
</div>

<div>
    <img src="/thumbup1.jpg" id="likeButton" width="44"></a><div style="display: inline;">AAA</div>
    
    <img src="/thumbdown1.jpg" id="dislikeButton" width="44"></a><div style="display: inline;">BBB</div>
</div>



