<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Exercise One</title>
    <link rel="stylesheet" href="./css/sort.css">
</head>

<div class="article-container">
    <div class="dropdown">
        <button class="sort">Sort By</button>
    <div class="dropdown-content">
    <a href="#">Title</a>
    <a href="#">Name</a>
    <a href="#">Date</a>
    </div>
    </div>
</div>

    {{#if user}}       
        <div>
            {{#each userArticle}}
            <h3>{{title}}</h3>
            <p>{{content}}</p>
            {{/each}}
        </div>
    {{/if}}
</div>

