<script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
<script type="application/javascript" src="./my-tinymce-config.js"></script>

<div class="container">
    <h1>Create an article</h1>

        <form action="./publish-article" method="POST" class="form" id="formArticle">
            <div class="flex-col mb">
                <label for="article-title">Title:</label>
                <input type="text" name="title" id="article-title" required>
            </div>

            <textarea name="content" id="article-text"></textarea>

            <div class="flex-row justify-sb align-center">
                <button type="submit">Publish article</button>
            </div>
        </form>
</div>