<h1>Create Account Form</h1>

{{!-- To input user information to create a new account --}}
<form action="" method="GET" id="form">
    {{!-- User name --}}
    <div id="form-div username-div">
        <span>Username</span><span>&nbsp;*</span><br>
        <input type="text" id="username" name="username" required>
        <p id="error1"></p>
    </div>

    {{!-- Full name --}}
    <div id="form-div fullName-div">
        <span>Full name</span><span>&nbsp;*</span><br>
        <input type="text" id="firstName" name="firstName" required placeholder="First">
        <input type="text" id="lastName" name="lastName" required placeholder="Last">
    </div>

    {{!-- Avatar --}}
    <div id="form-div avatar-div">
        <span>Avatar</span><span>&nbsp;*</span><br>
        <img src="" alt="avatar-image1">
        <select id="avatar" name="avatar" required>
            <option value="avatar1" selected><img src="" alt="avatar-image1"></option>
            <option value="avatar2"><img src="" alt="avatar-image2"></option>
            <option value="avatar3"><img src="" alt="avatar-image3"></option>
            <option value="avatar4"><img src="" alt="avatar-image4"></option>
            <option value="avatar5"><img src="" alt="avatar-image5"></option>
            <option value="avatar6"><img src="" alt="avatar-image6"></option>
            <option value="avatar7"><img src="" alt="avatar-image7"></option>
            <option value="avatar8"><img src="" alt="avatar-image8"></option>
            <option value="avatar9"><img src="" alt="avatar-image9"></option>
        </select>
    </div>

    {{!-- Date of birth --}}
    <div id="form-div dob-div">
        <span>Date of birth</span><span>&nbsp;*</span><br>
        <input type="date" id="dateOfBirth" value="" name="dateOfBirth" required>
    </div>
    
    {{!-- Password --}}
    <div id="form-div password-div">
        <span>Password</span><span>&nbsp;*</span><br>
        <input type="password" id="password" name="password" required>
        <p id="error2"></p>
    </div>
    <div id="form-div con-password-div">            
        <span>Confirm password</span><span>&nbsp;*</span><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>

    {{!-- Submit button --}}
    <input type="submit" value="CREATE">

    {{!-- To prompt a user who has an account already to move on the login page --}}
    <p>Already have an account? &nbsp; <a href="/login">Log in</a></p>
</form>
