<h1>Articles</h1>

{{!-- sorting button --}}
<div id="sorting-container">
    <form action="./articles-user-sort" method="POST">
        <span>Sort by:</span>
        <select name="order" id="oldest-first newest-first title-a-z title-z-a user-a-z user-z-a">
            <option value="date">Date</option>
            <option value="title">Title</option>
            <option value="user">User</option>
        </select>
    </form>
</div>


{{!-- user's articles --}}
<div id="article-container"> 
    {{#each articles}}
        <div id="article">
            <h3>TITLE: {{articles.title}}</h3>
            <p>CONTENT: {{articles.content}}</p>
            <img src="{{articles.image}}" alt="">      
            <form action="./edit-article" method="POST">
                    <button type="submit">EDIT</button>
            </form>
            <form action="./delete-article" method="POST">
                    <button type="submit">DELETE</button>
            </form>
        </div>
    {{/each}}
</div>
