<h1>Articles</h1>

<div class="dropdown">
    <button class="dropbtn">Sort by:</button>
    <div class="dropdown-content">
        <a href="./articles-user/date-desc">Date: Newest first</a>
        <a href="./articles-user/date-asc">Date: Oldest first</a>
        <a href="./articles-user/title-az">Title: A-Z</a>
        <a href="./articles-user/title-za">Title: Z-A</a>
        <a href="./articles-user/username-az">Author's username: A-Z</a>
        <a href="./articles-user/username-az">Author's username: Z-A</a>
    </div>
</div>

<div class="container" id="article-container">
    {{#each articles}}
    <div id="article">
        <h3>{{this.title}}</h3>
        <input id = "{{this.article_id}}" hidden>
        <p>{{this.content}}</p>

        {{#if this.image}}
        <img src="{{this.image}}" alt="">
        {{/if}}

        <form action="./article-edit" method="POST">
            <button type="submit">Edit</button>
        </form>
        <form action="./article-delete" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
    {{/each}}
</div>