@import url("./utils.css");


/* Fonts, misc */
/*****************************************************************/
* {
    font-family: 'Open Sans';
}

h1 {
    font-family: 'Comfortaa';
}

h5, h6 {
    font-style: italic;
}

#avatar-attribution {
    font-size: x-small;
    text-align: center;
}

.button {
    margin: 3px 3px;
}

.new-button {
    margin: 3px 3px;
    background-color: #049faa;
    color: white;
    padding: 5px 10px;
    border: 1px rgb(200, 198, 198) solid;
    border-radius: 5px;
}

.new-button a {
    color:white;
    text-decoration: none;
}

.author {
    color: #049faa;
    font-family: 'Comfortaa';
}

.unlink {
    color: black;
    text-decoration: none;
}

/*****************************************************************/




/* Main page layout */
/*****************************************************************/
.nav {
    font-family: 'Comfortaa';
    margin: 0px 30px;
}

.container {
    margin: 60px auto;
    width: 750px
}

.login-container {
    margin: 60px auto;
    width: 350px
}

.article {
    background-color: rgba(244, 244, 244, 0.807);
    margin:10px 0px;
    padding: 5px 15px 10px 15px;
}

/*****************************************************************/



/* Forms */
/*****************************************************************/
.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/*****************************************************************/



/* Dropdown */
/*****************************************************************/
.dropbtn {
    margin: 3px 3px;
    padding: 5px 10px;
    border: 1px rgb(119, 117, 117) solid;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #03818a;
}

/*****************************************************************/




/* Responsive design */
/*****************************************************************/
@media screen and (max-width: 1050px) {
    .container {
        width: 400px;
        margin: 30px auto;
    }
}

/*****************************************************************/