@import url("./utils.css");


/* Fonts, misc */
/*****************************************************************/
* {
    font-family: 'Open Sans';
}

h1,
h2,
h3 {
    font-weight: 'Comfortaa';
}

#avatar-attribution {
    font-size: x-small;
    text-align: center;
}

/*****************************************************************/




/* Main page layout */
/*****************************************************************/
#nav {
    margin: 0px 30px;
}

.container {
    margin: 60px auto;
    width: 750px
}

.login-container {
    margin: 60px auto;
    width: 350px
}

/*****************************************************************/



/* Forms */
/*****************************************************************/
.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/*****************************************************************/



/* Dropdown */
/*****************************************************************/
.dropbtn {
    background-color: #049faa;
    color: white;
    padding: 10px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #03818a;
}

/*****************************************************************/




/* Responsive design */
/*****************************************************************/
@media screen and (max-width: 1050px) {
    .container {
        width: 400px;
        margin: 30px auto;
    }
}

/*****************************************************************/