@import url("./utils.css");


/* Fonts, misc */
/*****************************************************************/
* {
    font-family: 'calibri, sans-serif';
}

#avatar-attribution {
    font-size: x-small;
    text-align: center;
}

/*****************************************************************/




/* Main page layout */
/*****************************************************************/
.container {
    margin: 60px auto;
    width: 850px
}

/*****************************************************************/



/* Forms */
/*****************************************************************/
.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/*****************************************************************/



/* Responsive design */
/*****************************************************************/
@media screen and (max-width: 1050px) {
    .container {
        width: 400px;
        margin: 30px auto;
    }
}
/*****************************************************************/

